version: '3.8'

services:
  cg-trainer-service:
    image: cg-trainer-service
    depends_on:
      - postgres
  postgres:
    image: postgres:12.8-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=cg-trainer-service
    volumes:
      - postgresdata:/var/lib/postgresql/data

volumes:
  postgresdata: