version: 2.1

executors:
  node-postgres:
    docker:
      - image: circleci/node:16
        environment:
          DB_PORT: 5432
      - image: circleci/postgres:12.1
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: cg-trainer-service

commands:
  init-node:
    steps:
      - checkout
      - restore-node-cache
      - run: npm i
      - save-node-cache
  test-node:
    steps:
      - run: npm run test
  test-node-migration:
    steps:
      - run: npm run test:migration
  save-node-cache:
    steps:
      - save_cache:
          key: v1-{{ .Environment.CIRCLE_PROJECT_REPONAME }}-{{ arch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
  restore-node-cache:
    steps:
      - restore_cache:
          key: v1-{{ .Environment.CIRCLE_PROJECT_REPONAME }}-{{ arch }}-{{ checksum "package.json" }}

jobs:
  test-node-postgres:
    executor: node-postgres
    steps:
      - init-node
      - test-node
  test-node-postgres-migration:
    executor: node-postgres
    steps:
      - init-node
      - test-node-migration

workflows:
  version: 2.1
  test:
    jobs:
      - test-node-postgres:
          filters:
            branches:
              ignore:
                - master
      - test-node-postgres-migration:
          filters:
            branches:
              ignore:
                - master