version: 2.1

executors:
  node-postgres:
    docker:
      - image: circleci/node:14
        environment:
          DB_PORT: 5432
      - image: circleci/postgres:12.1
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: cg-trainer-service

commands:
  init-node:
    steps:
      - checkout
      - run: npm i
  test-node:
    steps:
      - run: npm run test

jobs:
  test-node-postgres:
    executor: node-postgres
    steps:
      - init-node
      - test-node

workflows:
  version: 2.1
  #   Always run the test workflow except on development, or master to avoid a double-run
  test:
    jobs:
      - test-node-postgres:
          filters:
            branches:
              ignore:
                - master